{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form method="get" action="ping">
    mac<input type="text" name="mac"><br>
    lon<input type="text" name="lon"><br>
    lat<input type="text" name="lat"><br>
    online_num<input type="text" name="online_num"><br>
    usage<input type="text" name="usage"><br>
    flow_num<input type="text" name="flow_num"><br>
    cmd<input type="text" name="cmd"><br>
    arg<input type="text" name="arg"><br>
    <input type="submit" value="提交">
</form>
</body>
</html>