

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="__PUBLIC__/js/echarts-all.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.2.min.js"></script>
</head>
<body>
<div style="width:90%;height:90%;background-color:white;float:center;border:1px ;margin-left: auto;
margin-right: auto;">
<div  style="width:25%;height:100%;background-color:white;float:left;margin-buttom: 2px;margin-top: 2px;border:1px  solid black ;margin-left: 2px;
margin-right: auto;">
 <div >
   </div>
<table>
    
     <tr>
          <td  style="font-size: 14pt">&nbsp&nbsp &nbsp&nbsp车牌号    &nbsp &nbsp</td>
          <td style="font-size: 14pt">mac地址</td>     
        </tr>
    
</table>

  
   
  <div name="left" id="left">

   </div>
   <br>

</div >
<div   style="width:70%;height:80%;background-color:white;float:right;margin-buttom: 2px;margin-top: 2px;border:1px  solid black ;margin-left: 2px;
margin-right: auto;">
<textarea id="feedback" name="feedback" rows="18" cols="84">
在w3school，你可以找到你所需要的所有的网站建设教程。
</textarea>

</div >


<div style="width:70%;height:10%;background-color:white;float:right;margin-buttom: 2px;border:1px  solid black ;margin-top: 2px;border:1px  solid black ;margin-left: 2px;
margin-right: auto;">

<div  style="width:15%;height:100%;background-color:;float:left;text-align:center;border:1px   ;" >
<br>
root@localhost~#
</div>

<input   id="in" name="in"   onkeypress="if(event.keyCode==13) {submit();return false;}"value=""style="margin-top:1px;width:84%;height:90%;float:right;text-align:left;border:2px  solid:black  ;">



</div >
</div>
<script type="text/javascript">
	
/**
 * ajax获取bus_no_mac
 */
$(function () {
	$.post("{:U('Analyse/select')}", {
}, function(data, status) {
	if (status == 4 || status == "success") {
		var bus_info = eval(data);
		var datas = "";
		for (var i = 0; i < bus_info.length; i++) {
			 
			datas += "<label><input id='"+bus_info[i].id+"'name=de type=radio /><span style='font-size:11pt;'>'"+bus_info[i].value+"'</span> </label><br>";
		}
		$("div#left").html(datas);
	}
});
}
)

    function submit(){
	var zt = document.getElementsByName("de");
	var device_id;
	for(var i=0;i<zt.length;i++){
	if(zt[i].checked){
		device_id=zt[i].id;
		}
	}
	if(!device_id)
		alert("请选中车辆");
	else{
	//alert("d");
	var arg=document.getElementById("in").value;
  /*  alert(device_id);
   alert(arg); */
	$.ajax({
		type:"post",
		url:"../Command/ssh_add",
		data:{device_id:device_id,arg:arg},
	     success:function(data1){
	    	var id=data1;
				if(data1>0)
					{
					 setTimeout(
			        		 function () {
			        			// alert("d"+id);
			        			 $.ajax({
			        					type:"get",
			        					url:"../Command/get_result/id/"+id,
			         				     success:function(data2){
			         				    	// alert("f"+data2);
			         				    	var t=eval("("+data2+")");
			        				    	//alert("ff"+t.id);
			        				    	  var content= $("#feedback").val()+'\n'+" "+
			        				    	 $("#in").val()+'\n'+"  "+
			        				    	 +t.return_arg;  			        		
			        				    	 $("#feedback").val(content);
			        				    	 $("#in").val("");
			        				    	
			        				     }
			        				     });
			        		 },
			        		 5000);
				
					}
				else
					alert("发送命令失败");
				
			}
	});
	
	}	
} 
    </script>  
</body>
</html>