<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="__URL__/add" method="post">
    <input type="hidden" name="id" value="{$data.id}">
    name:<input type="text" name="name" value="{$data.name}">
    <br/>
    title:<input type="text" name="title" value="{$data.title}">
    <br/>
    tel:<input type="tel" name="tel" value="{$data.tel}">
    <br/>
    time:<input type="date" name="time" value="{$data.time}">
    <br/>
    content:<input type="text" name="content" value="{$data.content}">
    <br/>
    email:<input type="email" name="email" value="{$data.email}">
    <br/>
    url:<input type="url" name="url" value="{$data.url}">
    <br/>
    status:
    <if condition="$data.status eq 'on'">
        <input type="radio" name="status" value="on" checked="checked" /> 激活
        <input type="radio" name="status" value="off" /> 关闭
        <else/>
        <input type="radio" name="status" value="on"  /> 激活
        <input type="radio" name="status" value="off" checked="checked" /> 关闭
    </if>
    <br/>
    <input type="submit" value="提交">
    <if condition="$data.id neq 0">
        <a href="__URL__/delete/id/{$data.id}" >删除</a>
    </if>
</form>
</body>
</html>