<FORM method="post" action="__URL__/update">
mac：<INPUT type="text" name="mac" value="{$device.mac}"><br/>
useage：<INPUT type="text" name="useage" value="{$device.useage}"><br/>
time：<INPUT type="text" name="time" value="{$device.time}"><br/>
ssid：<INPUT type="text" name="ssid" value="{$device.ssid}"><br/>
firmware：<INPUT type="text" name="firmware" value="{$device.firmware}"><br/>
content：<INPUT type="text" name="content" value="{$device.content}"><br/>
status：<INPUT type="text" name="status" value="{$device.status}"><br/>
bus_id：<INPUT type="text" name="bus_id" value="{$device.bus_id}"><br/>
<INPUT type="hidden" name="id" value="{$device.id}">
<INPUT type="submit" value="提交">
</FORM>