<table>
	<tr>
		<td>id:</td>
		<td>{$device.id}</td>
	</tr>
	<tr>
		<td>mac:</td>
		<td>{$device.mac}</td>
	</tr>
	<tr>
		<td>useage：</td>
		<td>{$device.useage}</td>
	</tr>
	<tr>
		<td>time:</td>
		<td>{$device.time}</td>
	</tr>
	<tr>
		<td>ssid：</td>
		<td>{$device.ssid}</td>
	</tr>
	<tr>
		<td>firmware：</td>
		<td>{$device.firmware}</td>
	</tr>
	<tr>
		<td>content:</td>
		<td>{$device.content}</td>
	</tr>
	<tr>
		<td>status：</td>
		<td>{$device.status}</td>
	</tr>
	<tr>
		<td>bus_id:</td>
		<td>{$device.bus_id}</td>
	</tr>
	
</table>