<div class="out_container_title">
    <div class="container_title">
        <div class="left">
            <ul>
                <li class="box_three">
                    <a href="{:U('Manage/line_manage')}"></a>
                </li>
                <li class="box_four">
                    <a href="{:U('Remoteupdate/remoteupdate')}"></a>
                </li>
                <li class="box_five">
                    <a href="{:U('Others/others')}" style="background: url(__PUBLIC__/images/up_other_hover.png)"></a>
                </li>
            </ul>
        </div>

        <div class="userLeftBar">
            <div class="search_line_far">
                <form action="form">
                    <input type="text">
                    <input type="submit" value="搜索">
                    <div class="clr"></div>
                </form>
                <ul>
                    <li class="showTemp">
                        <input type="checkbox" name="roadLine">
                        <a>黄岛17路</a>
                    </li>
                    <li>
                        <input type="checkbox" name="roadLine">
                        <a>黄岛18路</a>
                    </li>
                    <li>
                        <input type="checkbox" name="roadLine">
                        <a>黄岛19路</a>
                    </li>
                </ul>
                <a class="checkAll">全选</a>
                <a class="checkNone">取消全选</a>

                <div class="clr"></div>
            </div>
            <div class="search_car_far">
                <form action="form">
                    <input type="text">
                    <input type="submit" value="搜索">
                    <div class="clr"></div>
                </form>
                <ul>
                    <li>
                        <input type="checkbox" name="car">
                        <a href="#">鲁B17</a>
                    </li>
                    <li>
                        <input type="checkbox" name="car">
                        <a href="#">鲁B17</a>
                    </li>
                    <li>
                        <input type="checkbox" name="car">
                        <a href="#">鲁B17</a>
                    </li>
                </ul>
                <a class="checkAll">全选</a>
                <a class="checkNone">取消全选</a>

                <div class="clr"></div>
            </div>
            <div class="search_car_far hideTemp">
                <form action="form">
                    <input type="text">
                    <input type="submit" value="搜索">

                    <div class="clr"></div>
                </form>
                <ul>
                    <li>
                        <input type="checkbox" name="car">
                        <a href="#">鲁B18</a>
                    </li>
                    <li>
                        <input type="checkbox" name="car">
                        <a href="#">鲁B18</a>
                    </li>
                    <li>
                        <input type="checkbox" name="car">
                        <a href="#">鲁B18</a>
                    </li>
                </ul>
                <a class="checkAll">全选</a>
                <a class="checkNone">取消全选</a>

                <div class="clr"></div>
            </div>
            <div class="search_car_far hideTemp">
                <form action="form">
                    <input type="text">
                    <input type="submit" value="搜索">

                    <div class="clr"></div>
                </form>
                <ul>
                    <li>
                        <input type="checkbox" name="car">
                        <a href="#">鲁B19</a>
                    </li>
                    <li>
                        <input type="checkbox" name="car">
                        <a href="#">鲁B19</a>
                    </li>
                    <li>
                        <input type="checkbox" name="car">
                        <a href="#">鲁B19</a>
                    </li>
                </ul>
                <a class="checkAll">全选</a>
                <a class="checkNone">取消全选</a>

                <div class="clr"></div>
            </div>
        </div>
        <div class="up_main">
            <ul>
                <li>
                    <div class="subtitle">
                        <p>修改SSID</p>
                    </div>
                    <div class="other_set">
                        <form action="form" method="get">
                            <input type="text">
                            <input type="button" value="提交">
                        </form>
                    </div>
                    <ul class="clear"></ul>
                </li>
                <li>
                    <div class="subtitle">
                        <p>设置网速上限</p>
                    </div>
                    <div class="other_set">
                        <form action="form" method="get">
                            <input type="text">kb/s
                            <input type="button" value="提交">
                        </form>
                    </div>
                    <ul class="clear"></ul>
                </li>
                <li>
                    <div class="subtitle">
                        <p>添加网站黑名单</p>
                    </div>
                    <div class="web_set">
                        <form action="form" method="get">
                            <textarea type="text"></textarea>
                            <input type="button" value="提交">
                        </form>
                    </div>
                    <ul class="clear"></ul>
                </li>
                <li>
                    <div class="subtitle">
                        <p>重启设备</p>
                    </div>
                    <div class="reaset">
                        <form action="{:U('Device/cmd')}" method="post">
                            <input type="submit" value="重启">
                        </form>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>

