    <div class="out_container_title">
        <div class="container_title">
            <div class="left">
                <ul>
                    <li class="box_three">
                        <a href="{:U('Manage/line_manage')}"></a>
                    </li>
                    <li class="box_four">
                        <a href="{:U('Remoteupdate/remoteupdate')}"></a>
                    </li>
                    <li class="box_five">
                        <a href="{:U('Others/others')}" style="background: url(__PUBLIC__/images/up_other_hover.png)"></a>
                    </li>
                </ul>
            </div>
            <div class="wait"></div>
            <div class="up_main up_main_other_setting">
                <ul>
                    <li>
                        <div class="subtitle">
                            <p>修改SSID</p>
                        </div>
                        <div class="other_set">
                            <form action="form" method="get">
                                <input type="text">
                                <input type="button" value="提交">
                            </form>
                        </div>
                        <ul class="clear"></ul>
                    </li>
                    <li>
                        <div class="subtitle">
                            <p>设置网速上线</p>
                        </div>
                        <div class="other_set">
                            <form action="form" method="get">
                                <input type="text">kb/s
                                <input type="button" value="提交">
                            </form>
                        </div>
                        <ul class="clear"></ul>
                    </li>
                    <li>
                        <div class="subtitle">
                            <p>添加网站黑名单</p>
                        </div>
                        <div class="web_set">
                            <form action="form" method="get">
                                <textarea type="text"></textarea>
                                <input type="button" value="提交">
                            </form>
                        </div>
                        <ul class="clear"></ul>
                    </li>
                    <li>
                        <div class="subtitle">
                            <p>重启设备</p>
                        </div>
                        <div class="reaset">
                            <form action="form" method="get">
                                <input type="button" value="重启">
                            </form>
                        </div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>

