<div class="out_container_title">
    <div class="container_title">
        <div class="left">
            <ul>
                <li class="box_three">
                    <a href="{:U('Manage/line_manage')}"></a>
                </li>
                <li class="box_four">
                    <a href="{:U('Remoteupdate/remoteupdate')}"></a>
                </li>
                <li class="box_five">
                    <a href="{:U('Others/others')}" style="background: url(__PUBLIC__/images/up_other_hover.png)"></a>
                </li>
            </ul>
        </div>

        <div class="userLeftBar">
            <div class="search_line_far">
                <form action="form">
                    <input type="text">
                    <input type="submit" value="搜索">
                    <div class="clr"></div>
                </form>
                <ul>
                		<volist name="line_list" id="vo" empty=" " key="k">
                    	<if condition="($k eq 1)">
                    	
                    		<li class="showTemp"
                            	onclick="get_bus_list_check('{:U('Bus/select')}',$(this).find('input').val(),'bus_list_check',$(this).index())">
                            <input type="checkbox" name="roadLine" value={$vo.id}  class="line_array">
                            <a>{$vo.name}</a></li>
                    	
						<else/>
						
							<li onclick="get_bus_list_check('{:U('Bus/select')}',$(this).find('input').val(),'bus_list_check',$(this).index())">
                            <input type="checkbox" name="roadLine" value={$vo.id}  class="line_array">
                            <a>{$vo.name}</a></li>

						</if>
                    </volist>
                </ul>
                <a class="checkAll">全选</a>
                <a class="checkNone">取消全选</a>

                <div class="clr"></div>
            </div>
            
            
            <div class="search_car_far">
                <form action="form">
                    <input type="text">
                    <input type="submit" value="搜索">
                    <div class="clr"></div>
                </form>
                
	                <ul id="bus_list_check">
                    <volist name="bus_list" id="vo" empty=" ">
                        <li>
                        <li><input class= "bus_array" type="checkbox" id={$line_list[0].id} name="car" value={$vo.id} onchange="getCheckedList(this)"> <a>{$vo.no}</a></li>
                    </volist>
                
                </ul>
                <a class="checkAll">全选</a>
                <a class="checkNone">取消全选</a>

                <div class="clr"></div>
            </div>
            
        </div>
        <div class="up_main">
            <ul>
                <li>
                    <div class="subtitle">
                        <p>修改SSID</p>
                    </div>
                    <div class="other_set">
                        <form action="form" method="get">
                            <input type="text">
                            <input type="button" value="提交">
                        </form>
                    </div>
                    <ul class="clear"></ul>
                </li>
                <li>
                    <div class="subtitle">
                        <p>设置网速上限</p>
                    </div>
                    <div class="other_set">
                        <form action="form" method="get">
                            <input type="text">kb/s
                            <input type="button" value="提交">
                        </form>
                    </div>
                    <ul class="clear"></ul>
                </li>
                <!--<li>
                    <div class="subtitle">
                        <p>添加网站黑名单</p>
                    </div>
                    <div class="web_set">
                        <form action="form" method="get">
                            <textarea type="text"></textarea>
                            <input type="button" value="提交">
                        </form>
                    </div>
                    <ul class="clear"></ul>
                </li>-->
                <li>
                    <div class="subtitle">
                        <p>重启设备</p>
                    </div>
                    <div class="reaset">
                        <form action="{:U('Device/cmd')}" method="post">
                            <input type="submit" value="重启">
                        </form>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>


<script type="text/javascript">

var checkedIdList=new Array();//选中的bus列表
var checkedLineArr= new Array();
var selected=0;
/**
 * 创建全局变量
 */
$(function() {
	var lineList = $(".line_array");
	for(var i=0;i<lineList.length;i++){
		checkedLineArr[i]=lineList[i].checked;
	}
})
    
    
</script>
