<div class="out_container_title">
    <div class="container_title">
        <div class="left">
            <ul>

                <li class="box_four">
                    <a href="#" style="background: url(__PUBLIC__/images/up_up_hover.png)"></a>
                </li>

            </ul>
            <div class="weather" id="weather" style="color:#ccc">

            </div>
        </div>


        <div class="userLeftBar">
            <div class="search_line_far">

                <ul>
                <volist name="line_list" id="vo" empty=" " key="k">
                <if condition="($k eq 1)">

                <li class="showTemp"
                    onclick="get_bus_list_check('{:U('Bus/select')}',$(this).find('input').val(),'bus_list_check',$(this).index())">
                <input type="checkbox" name="roadLine" value={$vo.id} class="line_array">

                    <a>{$vo.name}</a></li>

                            <else/>

                            <li onclick="get_bus_list_check('{:U('Bus/select')}',$(this).find('input').val(),'bus_list_check',$(this).index())">
                                <input type="checkbox" name="roadLine" value={$vo.id} class="line_array">
                                <a>{$vo.name}</a></li>

                        </if>
                    </volist>
                </ul>
                <a class="checkAll">全选</a>
                <a class="checkNone">取消全选</a>

                <div class="clr"></div>
            </div>

            <div class="remote_search">
                <p>
                    <input type="text" id="search_keys" > <a><img
                        src="__PUBLIC__/images/home_search.png" alt=""
                        onclick="search_bus_list('{:U('Bus/select')}',$('#search_keys').val())"></a>
                </p>
            </div>

            <div class="search_car_far">
                <ul id="bus_list_check">
                    <br/>
                    <br/>
                    <volist name="bus_list" id="vo" empty=" ">
                        <li><label for={$vo.id}>{$vo.no}</label>
                            <input class="bus_array" type="checkbox" id={$vo.id} name="car" value={$vo.id}
                                   data-line={$line_list[0].id} onchange="getCheckedList(this)"></li>
                    </volist>
                </ul>
                <a class="checkAll">全选</a>
                <a class="checkNone">取消全选</a>

                <div class="clr"></div>
            </div>

        </div>
        <div class="up_main">
            <ul>
                <li>
                    <div class="subtitle_1">
                        <p>设置本地广告</p>
                        <a href="#"></a>

                        <div class="clear"></div>
                    </div>
                    <ul class="movie">
                        <li>
                            <img class="imgs" src="__PUBLIC__/images/field.jpg" alt="">

                            <div class="dis">
                                <p>X</p>

                                <form id="ad1">
                                    <div>
                                        <p>广告链接: </p>
                                        <input type="url" name="url">
                                    </div>
                                    <div>
                                        <p>广告图片：</p>
                                        <input type="file" name="file" accept="image/jpeg">
                                    </div>
                                    <div>
                                        <p>文字简介： </p>
                                        <input type="text" name="text">
                                    </div>
                                    <input type="hidden" value="ad1" name="position">
                                    <input type="hidden" value="1" name="type">
                                    <input type="hidden" value="jpg" name="suffix">

                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload('ad1')">
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li>
                            <img class="imgs" src="__PUBLIC__/images/field.jpg" alt="">

                            <div class="dis">
                                <p>X</p>

                                <form id="ad2">
                                    <div>
                                        <p>广告链接: </p>
                                        <input type="url" name="url">
                                    </div>
                                    <div>
                                        <p>广告图片：</p>
                                        <input type="file" name="file" accept="image/jpeg">
                                    </div>
                                    <div>
                                        <p>文字简介： </p>
                                        <input type="text" name="text">
                                    </div>
                                    <input type="hidden" value="ad2" name="position">
                                    <input type="hidden" value="1" name="type">
                                    <input type="hidden" value="jpg" name="suffix">

                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload('ad2')">
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li>
                            <img class="imgs" src="__PUBLIC__/images/field.jpg" alt="">

                            <div class="dis">
                                <p>X</p>

                                <form id="ad3">
                                    <div>
                                        <p>广告链接: </p>
                                        <input type="url" name="url">
                                    </div>
                                    <div>
                                        <p>广告图片：</p>
                                        <input type="file" name="file" accept="image/jpeg">
                                    </div>
                                    <div>
                                        <p>文字简介： </p>
                                        <input type="text" name="text">
                                    </div>
                                    <input type="hidden" value="ad3" name="position">
                                    <input type="hidden" value="1" name="type">
                                    <input type="hidden" value="jpg" name="suffix">

                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload('ad3')">
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li>
                            <img class="imgs" src="__PUBLIC__/images/field.jpg" alt="">

                            <div class="dis">
                                <p>X</p>

                                <form id="ad4">
                                    <div>
                                        <p>广告链接: </p>
                                        <input type="url" name="url">
                                    </div>
                                    <div>
                                        <p>广告图片：</p>
                                        <input type="file" name="file" accept="image/jpeg">
                                    </div>
                                    <div>
                                        <p>文字简介： </p>
                                        <input type="text" name="text">
                                    </div>
                                    <input type="hidden" value="ad4" name="position">
                                    <input type="hidden" value="1" name="type">
                                    <input type="hidden" value="jpg" name="suffix">

                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload('ad4')">
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li>
                            <img class="imgs" src="__PUBLIC__/images/field.jpg" alt="">

                            <div class="dis">
                                <p>X</p>

                                <form id="ad5">
                                    <div>
                                        <p>广告链接: </p>
                                        <input type="url" name="url">
                                    </div>
                                    <div>
                                        <p>广告图片：</p>
                                        <input type="file" name="file" accept="image/jpeg">
                                    </div>
                                    <div>
                                        <p>文字简介： </p>
                                        <input type="text" name="text">
                                    </div>
                                    <input type="hidden" value="ad5" name="position">
                                    <input type="hidden" value="1" name="type">
                                    <input type="hidden" value="jpg" name="suffix">

                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload('ad5')">
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li>
                            <img class="imgs" src="__PUBLIC__/images/field.jpg" alt="">

                            <div class="dis">
                                <p>X</p>

                                <form id="ad6">
                                    <div>
                                        <p>广告链接: </p>
                                        <input type="url" name="url">
                                    </div>
                                    <div>
                                        <p>广告图片：</p>
                                        <input type="file" name="file" accept="image/jpeg">
                                    </div>
                                    <div>
                                        <p>文字简介： </p>
                                        <input type="text" name="text">
                                    </div>
                                    <input type="hidden" value="ad6" name="position">
                                    <input type="hidden" value="1" name="type">
                                    <input type="hidden" value="jpg" name="suffix">

                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload('ad6')">
                                    </div>
                                </form>
                            </div>
                        </li>
                        <div class="clear"></div>
                    </ul>
                    <p></p>
                    <ul class="clear"></ul>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<script type="text/javascript">

    var checkedIdList = new Array();//选中的bus列表
    var checkedLineArr = new Array();
    var selected = 0;
    /**
     * 创建全局变量
     */
    $(function () {
        var lineList = $(".line_array");
        for (var i = 0; i < lineList.length; i++) {
            checkedLineArr[i] = lineList[i].checked;
        }
    })

    /**
     * 根据车牌号搜索车辆
     * @param str：搜索关键字
     */
    function search_bus_list(url,keys) {

        $.post(url, {
            is_getbuslist : 1,
            search_keys : keys,
        }, function(data, status) {

            if (status == 4 || status == "success") {
                var bus_info = eval(data);
                var bus_list = "<br/><br/>";

                for (var i = 0; i < bus_info.length; i++) {
                    bus_list += "<li>" +
                            "<input class= 'bus_array' type='checkbox' name='car' value="+ bus_info[i].id +" onchange='getCheckedList(this)'> <a>"+bus_info[i].no+"</a>"
                            +"</li>";
                }

                $("ul#bus_list_check").html(bus_list);
            }
        });
    }

    /**
     * 文件上传函数
     * @param id form id
     */
    function upload(id) {
    	var busArr = new Array();
    	for (var i = 0; i < checkedIdList.length; i++) {
    		if (checkedIdList[i].isChecked)
    			busArr[i] = checkedIdList[i].id;
    	}
    	if (busArr.length > 0) {
	        var ids = arr_to_str(busArr);
	        var form = $("#" + id)[0];
	        var formData = new FormData(form);
	        formData.append('ids', ids);
	        $.ajax({
	            url: "{:U('Media/add')}",
	            type: 'POST',
	            cache: false,
	            data: formData,
	            processData: false,
	            contentType: false
	        }).done(function (res) {
	            $(".dis").hide();
	            getDeviceInfo();
	        }).fail(function (res) {
	            alert(res)
	        });
	    }else{
			alert("没有选中车辆!");
		}
}

    /**
     * 将数组转化为字符串,用下划线分隔
     * @param arr 要转化的数组
     */
    function arr_to_str(arr) {
        var str = '';
        for (var i = 0; i < arr.length; i++) {
            if(arr[i].isChecked){
                if(str!=''){
                    str += '_';
                }
                str += arr[i].id;
            }
        }
        return str;
    }

    function change_img(ids) {
        $.get("{:U('Bus/get_info')}/ids/" + ids + "/type/1", function (data, status) {
            var medias = $.parseJSON(data);
            console.log(medias);
            var position_arr = new Array('ad1', 'ad2', 'ad3', 'ad4', 'ad5', 'ad6');
            var img_arr = new Array('field.jpg', 'field.jpg', 'field.jpg', 'field.jpg', 'field.jpg', 'field.jpg');
            for (var i = 0; i < position_arr.length; i++) {
                var flag=true;
                for (var j = 0; j < medias.length; j++) {
                    for (var k = 0; k < medias[j].length; k++) {
                        if (medias[j][k].position == position_arr[i]) {
                            if (flag) {
                                flag=false;
                                img_arr[i] = medias[j][k].img;
                            } else {
                                if (img_arr[i] != medias[j][k].img) {
                                    img_arr[i] = 'field.jpg';
                                    break;
                                }
                            }
                        }
                    }
                    if (img_arr[i] == 'field.jpg') {
                        break;
                    }
                }
            }
            var imgs = $(".imgs");
            for (var i = 0; i < imgs.length; i++) {
                imgs[i].src = "__ROOT__/Update/" + img_arr[i];
            }
        })
    }

    function getDisplay(){
    	var busArr = new Array();
    	for (var i = 0; i < checkedIdList.length; i++) {
    		if (checkedIdList[i].isChecked)
    			busArr[i] = checkedIdList[i].id;
    	}
        change_img(arr_to_str(busArr));
    }
</script>