<div class="out_container_title">
    <div class="container_title">
        <div class="left">
            <ul>

                <li class="box_four">
                    <a href="#" style="background: url(__PUBLIC__/images/up_up_hover.png)"></a>
                </li>

            </ul>
            <div class="weather" id="weather" style="color:#ccc">

            </div>
        </div>
        
        
        <div class="userLeftBar">
            <div class="search_line_far">
                <form action="form">
                    <input type="text">
                    <input type="submit" value="搜索">
                    <div class="clr"></div>
                </form>
                <ul>
                		<volist name="line_list" id="vo" empty=" " key="k">
                    	<if condition="($k eq 1)">

                    		<li class="showTemp"
                            	onclick="get_bus_list_check('{:U('Bus/select')}',$(this).find('input').val(),'bus_list_check',$(this).index())">
                            <input type="checkbox" name="roadLine" value={$vo.id}  class="line_array">
                            <a>{$vo.name}</a></li>

						<else/>

							<li onclick="get_bus_list_check('{:U('Bus/select')}',$(this).find('input').val(),'bus_list_check',$(this).index())">
                            <input type="checkbox" name="roadLine" value={$vo.id}  class="line_array">
                            <a>{$vo.name}</a></li>

						</if>
                    </volist>
                </ul>
                <a class="checkAll">全选</a>
                <a class="checkNone">取消全选</a>

                <div class="clr"></div>
            </div>


            <div class="search_car_far">
                <form action="form">
                    <input type="text">
                    <input type="submit" value="搜索">
                    <div class="clr"></div>
                </form>

	                <ul id="bus_list_check">
                    <volist name="bus_list" id="vo" empty=" ">
                        <li>
                        <li><input class= "bus_array" type="checkbox" id={$line_list[0].id} name="car" value={$vo.id} onchange="getCheckedList(this)"> <a>{$vo.no}</a></li>
                    </volist>

                </ul>
                <a class="checkAll">全选</a>
                <a class="checkNone">取消全选</a>

                <div class="clr"></div>
            </div>

        </div>
        <div class="up_main">
            <ul>
                <li>
                    <div class="subtitle_1">
                        <p>设置本地广告</p>
                        <a href="#"></a>
                        <div class="clear"></div>
                    </div>
                    <ul class="movie">
                        <li>
                            <img  alt="" id='img_display1' >
                            <div class="dis">
                                <p>Close</p>
                                <form action="form"  method="get">
                                    <div>
                                        <p>广告文件：</p>
                                        <input type="file" class="img_file" name="j" onchange="ye.value=value" multiple="multiple"> 
                                        <input name="ye" class="ye">
                                        <input type="button" value="打开" class="button" onclick=j.click()>
                                    </div>
                                    <div>
                                        <p>图片简介： </p>
                                        <input type="text" class="img_dsc">
                                    </div>
                                    <div>
                                        <p>文字简介： </p>
                                        <input  type="text" class="text_dsc">
                                        <br>
                                    </div>
                                    	<input type="text" class="position" style="visibility:hidden" value="1">
                                    <div class="dis_button">
                                        <input type="button" value="提交" >
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li>
                            <img  alt="" id='img_display2'>
                            <div class="dis">
                                <p>Close</p>
                                <form action="form" method="get">
                                    <div>
                                        <p>广告文件：</p>
                                        <input type="file" class="file" name="j" onchange="ye.value=value">
                                        <input name="ye" class="ye">
                                        <input type="button" value="打开" class="button" onclick=j.click()>
                                    </div>
                                    <div>
                                        <p>图片简介： </p>
                                        <input type="text">
                                    </div>
                                    <div>
                                        <p>文字简介： </p>
                                        <input type="text">
                                        <br>
                                    </div>
                                    <div class="dis_button">
                                        <input type="button" value="提交">
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li>
                            <img  alt="" id='img_display3'>
                            <div class="dis">
                                <p>Close</p>
                                <form action="form" method="get">
                                    <div>
                                        <p>广告文件：</p>
                                        <input type="file" class="file" name="j" onchange="ye.value=value">
                                        <input name="ye" class="ye">
                                        <input type="button" value="打开" class="button" onclick=j.click()>
                                    </div>
                                    <div>
                                        <p>图片简介： </p>
                                        <input type="text">
                                    </div>
                                    <div>
                                        <p>文字简介： </p>
                                        <input type="text">
                                        <br>
                                    </div>
                                    <div class="dis_button">
                                        <input type="button" value="提交">
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li>
                            <img  alt="" id='img_display4'>
                            <div class="dis">
                                <p>Close</p>
                                <form action="form" method="get">
                                    <div>
                                        <p>广告文件：</p>
                                        <input type="file" class="file" name="j" onchange="ye.value=value">
                                        <input name="ye" class="ye">
                                        <input type="button" value="打开" class="button" onclick=j.click()>
                                    </div>
                                    <div>
                                        <p>图片简介： </p>
                                        <input type="text">
                                    </div>
                                    <div>
                                        <p>文字简介： </p>
                                        <input type="text">
                                        <br>
                                    </div>
                                    <div class="dis_button">
                                        <input type="button" value="提交">
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li>
                            <img  alt="" id='img_display5'>
                            <div class="dis">
                                <p>Close</p>
                                <form action="form" method="get">
                                    <div>
                                        <p>广告文件：</p>
                                        <input type="file" class="file" name="j" onchange="ye.value=value">
                                        <input name="ye" class="ye">
                                        <input type="button" value="打开" class="button" onclick=j.click()>
                                    </div>
                                    <div>
                                        <p>图片简介： </p>
                                        <input type="text">
                                    </div>
                                    <div>
                                        <p>文字简介： </p>
                                        <input type="text">
                                        <br>
                                    </div>
                                    <div class="dis_button">
                                        <input type="button" value="提交">
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li>
                            <img  alt="" id='img_display6'>
                            <div class="dis">
                                <p>Close</p>
                                <form action="form" method="get">
                                    <div>
                                        <p>广告文件：</p>
                                        <input type="file" class="file" name="j" onchange="ye.value=value">
                                        <input name="ye" class="ye">
                                        <input type="button" value="打开" class="button" onclick=j.click()>
                                    </div>
                                    <div>
                                        <p>图片简介： </p>
                                        <input type="text">
                                    </div>
                                    <div>
                                        <p>文字简介： </p>
                                        <input type="text">
                                        <br>
                                    </div>
                                    <div class="dis_button">
                                        <input type="button" value="提交">
                                    </div>
                                </form>
                            </div>
                        </li>
                        <div class="clear"></div>
                    </ul>
                    <p></p>
                    <ul class="clear"></ul>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<script type="text/javascript">

var checkedIdList=new Array();//选中的bus列表
var checkedLineArr= new Array();
var selected=0;
/**
 * 创建全局变量
 */
$(function() {
	var lineList = $(".line_array");
	for(var i=0;i<lineList.length;i++){
		checkedLineArr[i]=lineList[i].checked;
	}
	getDisplay();
	$(".dis_button").click(function() {
		var data = new FormData();
		/* $.each($(this).parent().find('.file')[0].files, function(i, file) {
		 	data.append('upload_file'+i, file);
		}); */
		//data.append('text_dsc', $(this).parent().find('#text_dsc').val);
		//data.append('img_dsc', $(this).parent().find('#img_dsc').val);
		//data.append('img', $(this).parent().find('.file')[0].files[0]);
		var a=$(this).parent().find('#text_dsc').val;
            $.ajax({
                url: 'upload',
                type: "POST",
                data: data,+
                success: function (data, status) {
                    alert(data);
                   
                }
            })
        $(this).parent().parent().parent().slideUp();
	});
})



    
/**
 * 获取选中check列表的ssid和网速上限
 */
function getDisplay() {
	
		$.post('get_img', {
			//ids : busArr,
		}, function(data, status) {
			if (status == 4 || status == "success") {
				var img_list = eval(data);
				$('img#img_display1').attr('src',img_list[0].img);
				$('img#img_display2').attr('src',img_list[1].img);
				$('img#img_display3').attr('src',img_list[2].img);
				$('img#img_display4').attr('src',img_list[3].img);
				$('img#img_display5').attr('src',img_list[4].img);
				$('img#img_display6').attr('src',img_list[5].img);
			}
		});
	
}
</script>