<div class="out_container_title" ng-controller="IndexCtrl">
    <div class="container_title">
        <div class="left">
            <ul>
                <li class="box_one"><a></a></li>
                <li class="box_two"><a></a></li>
            </ul>
            <div class="weather" id="weather">


            </div>
        </div>
        <div id="allmap" class="main"></div>
        <div class="right">
            <div class="show-legend"><a>显示图例</a></div>
            <div class="hide-legend"><a>隐藏图例</a></div>
            <div class="clr"></div>
            <ul>
                <li><img src="__PUBLIC__/images/G_car.png" alt=""> <img
                        src="__PUBLIC__/images/G_point.png" alt="">

                    <p>正在运营</p></li>
                <li class="clear"></li>
                <li><img src="__PUBLIC__/images/R_car.png" alt=""> <img
                        src="__PUBLIC__/images/R_point.png" alt="">

                    <p>暂停运营</p></li>
                <li class="clear"></li>
            </ul>
        </div>
        <div class="clr"></div>
        <div class="footer" id="pie-index">
            <ul>
                <li id="workNormal"></li>
                <li id="onlinePeople"></li>
                <li id="flow"></li>
                <li id="adClick"></li>
                <div class="clr"></div>
            </ul>
        </div>
        <div class="display">
            <select id="line_selector" onchange="get_bus_list('{:U('Bus/select')}',this.value,'bus_no_selector')">
                <volist name="line_list" id="vo" empty=" ">
                    <option value={$vo.id}>{$vo.name}</option>
                </volist>
            </select>
            <!--<select>
                <option ng-repeat="line in lines">
                    {{line.name}}
                </option>
            </select>-->

            <div class="search">
                <p>
                    <input type="text" id="search_keys"> <a><img
                        src="__PUBLIC__/images/home_search.png" alt=""
                        onclick="search_bus('{:U('Bus/select')}',$('#search_keys').val())"></a>
                </p>
            </div>
            <ul class="select" id="bus_no_selector">
                <volist name="bus_list" id="vo" empty=" ">
                    <li><a href="#">{$vo.no}</a></li>
                </volist>
            </ul>
        </div>

        <div class="road_display">
            <div class="left_display">
                <ul>
                    <volist name="line_list" id="vo" empty=" ">
                        <li>
                            <a href="javascript:void(0);" ng-click="getBuses({$vo.id})">{$vo.name}</a>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="address-footer">
        <p>版权:青岛智能产业技术研究院</p>

        <p>2015 all rights reserved</p>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/js/echarts-all.js"></script>
<script type="text/javascript">

    /**
     * ajax获取天气
     */
    $(function () {

        $.post("{:U('Weather/get_weather')}", {
            city_code: 370200,
        }, function (datas, status) {
            if (status == 4 || status == "success") {
                $("div#weather").html(datas);

            }
        });
    })


    var myChartWork = echarts.init(document.getElementById('workNormal'));
    var myChartOnline = echarts.init(document.getElementById('onlinePeople'));
    var myChartFlow = echarts.init(document.getElementById('flow'));
    var myChartAd = echarts.init(document.getElementById('adClick'));

    var a = 70;
    var b = 35;
    var c = 30;
    var d = 40;
    var int = self.setInterval("chart()", 3000);

    var map = new BMap.Map("allmap");            // 创建Map实例
    map.centerAndZoom(new BMap.Point(120.126194, 36.010989), 13);


    var opts = {
        width: 250,     // 信息窗口宽度
        height: 80,     // 信息窗口高度
        title: "公交状况", // 信息窗口标题
        enableMessage: true//设置允许信息窗发送短息
    };

    function chart() {
        // 正在工作设备量
        var num = Math.random();
        num = 0.5 - num;
        a += num;
        var optionWork = workOption(a, "__CONTROLLER__/work/f/work/num/" + a);
        //在线人数
        b += num;
        var optionOnline = onlineOption(b, "__CONTROLLER__/work/f/online/num/" + b);
        // 流量
        c += 0.01;
        if (c > 85) {
            c = 30;
        }
        var optionFlow = flowOption(c, "__CONTROLLER__/work/f/flow/num/" + c);
        // 广告点击量
        d += num;
        var optionAd = adOption(d, "__CONTROLLER__/work/f/ad/num/" + d);
        myChartWork.setOption(optionWork);
        myChartOnline.setOption(optionOnline);
        myChartFlow.setOption(optionFlow);
        myChartAd.setOption(optionAd);
    }
</script>
<script>
    wifiapp.controller('IndexCtrl', function ($scope, Buses) {
        $scope.getBuses = function (line_id) {
            $scope.line_id = line_id;
            var promise = Buses.query(line_id);
            promise.then(function (data) {
                get_map(data);
                setTimeout(function(){
                    $scope.int=setInterval(function(){
                        print_bus();
                    },5000);
                },1000);
            }, function (data) {
                alert('haha');
            });
        };

        function get_map(bus_array) {
            // 百度地图API功能
            var busline = new BMap.BusLineSearch(map, {
                renderOptions: {map: map, panel: "r-result"},
                onGetBusListComplete: function (result) {
                    if (result) {
                        var fstLine = result.getBusListItem(0);//获取第一个公交列表显示到map上
                        busline.getBusLine(fstLine);
                    }
                }
            });

            function busSearch() {
                var busName = bus_array.line.name;
                busline.getBusList(busName);
            }

            setTimeout(function () {
                busSearch();
            }, 500);
        }

        function print_bus() {
            var promise = Buses.query($scope.line_id);
            promise.then(function (data) {
                var array=data.buses;
                var x;
                for (x in array) {
                    var a = array[x].position_x;
                    var b = array[x].position_y;
                    if (a * b > 0) {
                        var pt = new BMap.Point(a, b);
                        var convertor = new BMap.Convertor();
                        var pointArr = [];
                        pointArr.push(pt);
                        convertor.translate(pointArr, 1, 5, function (data) {
                            if (data.status === 0) {
                                var timestamp = Date.parse(new Date()) / 1000;
                                var d_time = array[x].Device.time;
                                var img = '__PUBLIC__/images/' + (timestamp - d_time > 300 ? 'red' : 'green') + '_left.png';
                                var myIcon = new BMap.Icon(img, new BMap.Size(50, 30));
                                var marker2 = new BMap.Marker(data.points[0], {icon: myIcon});  // 创建标注
                                map.addOverlay(marker2);
                                // 创建标注
                                var content = '<p>在线人数:' + array[x].Device.online_num + '</p><p>已用流量' + array[x].Device.flow_num + 'M/120G</p><p>磁盘使用率:' + array[x].Device.useage + '%</p><p>本地资源访问人数:15</p>';
                                addClickHandler(content, marker2);
                            }
                        });
                    }
                }
            }, function (data) {
                alert('haha');
            });
        }

        function addClickHandler(content, marker) {
            marker.addEventListener("click", function (e) {
                        openInfo(content, e)
                    }
            );
        }

        function openInfo(content, e) {
            var p = e.target;
            var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
            var infoWindow = new BMap.InfoWindow(content, opts);  // 创建信息窗口对象
            map.openInfoWindow(infoWindow, point); //开启信息窗口
        }
    })
</script>
