<div class="out_container_title">
    <div class="container_title">
        <div class="left">
            <ul>
            	<li class="box_one">
                    <a></a>
                </li>
                <li class="box_two">
                    <a></a>
                </li>
            </ul>
        </div>
        <div id="main-work"></div>
        <div class="clr"></div>
        
        <div class="display">
            <select id="line_selector" onchange="get_buses('{:U('Bus/select')}',this.value,'bus_no_selector')">
                <volist name="line_list" id="vo" empty=" ">
                    <option value={$vo.id}>{$vo.name}</option>
                </volist>
            </select>

            <div class="search">
                <p>
                    <input type="text" id="search_keys"> <a><img
                        src="__PUBLIC__/images/home_search.png" alt=""
                        onclick="search_buses('{:U('Bus/select')}',$('#search_keys').val())"></a>
                </p>
            </div>
            <ul class="select" id="bus_no_selector">
                <volist name="bus_list" id="vo" empty=" ">
                    <li><a href="#" onclick="bus_selected('{$vo.id}')">{$vo.no}</a></li>
                </volist>
            </ul>
        </div>
       
        <div class="road_display">
            <div class="road_display">
	            <div class="left_display">
	                <ul>
	                	<volist name="line_list" id="vo" empty=" ">
	                  	  <li><a href="javascript:void(0);"
	                           onclick="line_selected('{$vo.id}')">{$vo.name}</a></li>
	                	</volist>
	                </ul>
	            </div>
        	</div>
            <div class="hide_details hideTemp">
                <div class="road_details">
                    <h1 id="unworking_title"></h1>

                    <div></div>
                    <ul id="unworking_list">
                        
                    </ul>
                </div>
                <div class="bus_details">
                    <h1 id="working_title"></h1>

                    <div></div>
                    <ul id="working_list">
                        
                    </ul>
                </div>
            </div>
            
          </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<script type="text/javascript" src="__PUBLIC__/js/echarts-all.js"></script>
<script type="text/javascript">

	
	

	 var int = self.setInterval("chart()", 10000);
	
    var myChartWork = echarts.init(document.getElementById('main-work'));
    

    var f = '{$f}';
    var num = '{$num}';
    var option;
    var line_id=0;
    var bus_id=0;
    init();
    
    //line_selected(0);
    
    /**
     * 获取该线路信息
     * @param str：线路Id
     */
    function chart(){
    	var l_id=line_id;
    	var b_id=bus_id;
    	$.post("/wifibus/index.php/Home/Index/get_char_info", {
            line_id:l_id,
            bus_id:b_id,
        }, function (data, status) {
            if (status == 4 || status == "success") {
            	var chart_info = eval(data);
            	$('h1#working_title').text("正常工作的车辆");
            	$('h1#unworking_title').text("不正常工作的车辆");
            	var working_html="";
            	for(var i=0;i<chart_info.working.length;i++){
            		working_html+="<li><a href='#'>"+chart_info.working[i]+"</a></li>";
            	}
            	$('ul#working_list').html(working_html);
            	
            	var unworking_html="";
            	for(var i=0;i<chart_info.unworking.length;i++){
            		unworking_html+="<li><a href='#'>"+chart_info.unworking[i]+"</a></li>";
            	}
            	$('ul#unworking_list').html(unworking_html);
            	
            	
            	switch (f) {
    	        case 'work':
    	            option=workOption(chart_info.work);
    	            break;
    	        case 'online':
    	               //optionWork=onlineOption(num);
    	            break;
    	        case 'flow':
    	        	option = flowOption(chart_info.flow);
    	            break;
    	        case 'ad':
    	                //optionWork=adOption(num);
    	            break;
    	        default :
    	            break;
        	}
            }
        });
    	
    	myChartWork.setOption(option);
    }
    
    function init(){
	    	switch (f) {
		        case 'work':
		            option=workOption(num);
		            break;
		        case 'online':
		               //optionWork=onlineOption(num);
		            break;
		        case 'flow':
		        	option = flowOption(num);
		            break;
		        case 'ad':
		                //optionWork=adOption(num);
		            break;
		        default :
		            break;
			}
    	myChartWork.setOption(option);
    }
    /**
     * 获取该线路信息
     * @param str：线路Id
     */
    function line_selected(id){
    	line_id=id;
    }
    
    function bus_selected(id){
    	bus_id=id;
    }
    
    /**
     * 显示某线路上的车辆的车牌号列表
     * @param str：线路Id
     */
    function get_buses(url,id,display) {

    	$.post(url, {
    		is_getbuslist : 1,
    		line_id : id
    	}, function(data, status) {

    		if (status == 4 || status == "success") {
    			var bus_info = eval(data);
    			var bus_list = "";
    			//alert("d");
    			for (var i = 0; i < bus_info.length; i++) {
    				                                            
    				bus_list += "<li>" +
    						"<a href='#' onclick=line_selected("+bus_info[i].id+")>"+ bus_info[i].no + "</a>"
    						+"</li>";
    			}
    			//alert(bus_list);
    			$("ul#"+display).html(bus_list);
    		
    		}
    	});
    }
    
    /**
     * 根据车牌号搜索车辆
     * 
     * @param str：搜索关键字
     */
    function search_buses(url,keys) {
    	
    	$.post(url, {
    		is_getbuslist : 1,
    		search_keys : keys
    	}, function(data, status) {
    		
    		if (status == 4 || status == "success") {
    			var bus_info = eval(data);
    			var bus_list = "";
    			
    			for (var i = 0; i < bus_info.length; i++) {
    				bus_list += "<li>" +
    				"<a href='#' onclick=bus_selected("+bus_info[i].id+")>"+ bus_info[i].no + "</a>"
    				+"</li>";
    				}
    			$("ul#bus_no_selector").html(bus_list);
    		}
    	});
    }
    
</script>