<div class="out_container_title">
    <div class="container_title">
        <div class="left">
            <ul>
                <li class="box_one">
                    <a></a>
                </li>
                <li class="box_two">
                    <a></a>
                </li>
            </ul>
        </div>
        <div id="main-work"></div>
        <div class="clr"></div>
        <div class="display">
            <select>
                <option value="line1">开发区1路</option>
                <option value="line2">开发区18路</option>
                <option value="line3">开发区4路</option>
                <option value="line4">开发区26路</option>
            </select>

            <div class="search">
                <form action="form">
                    <p>
                        <input type="text">
                        <a href=""><img src="__PUBLIC__/images/home_search.png" alt=""></a>
                    </p>
                </form>
            </div>
            <div class="clear"></div>
            <ul class="select">
                <li><a href="#">鲁BH8305</a></li>
                <li><a href="#">鲁BH8305</a></li>
                <li><a href="#">鲁BH8305</a></li>
                <li><a href="#">鲁BH8305</a></li>
                <li><a href="#">鲁BH8305</a></li>
                <li><a href="#">鲁BH8305</a></li>
                <li><a href="#">鲁BH8305</a></li>
            </ul>
        </div>
        <div class="road_display">
            <div class="left_display">
                <ul>
                    <li onclick="changeNum()" class="showTemp"><a href="#">开发区1路</a></li>
                    <li onclick="changeNum()"><a href="#">开发区18路</a></li>
                    <li onclick="changeNum()"><a href="#">开发区4路</a></li>
                    <li onclick="changeNum()"><a href="#">开发区26路</a></li>
                </ul>
            </div>
            <div class="hide_details hideTemp">
                <div class="road_details ">
                    <h1>1路上设备<br>正在工作的车辆</h1>

                    <div></div>
                    <ul>
                        <li><a href="#">鲁BH8305</a></li>
                        <li><a href="#">鲁BH8306</a></li>
                        <li><a href="#">鲁BH8307</a></li>
                    </ul>
                </div>
                <div class="bus_details ">
                    <h1>1路上设备<br>正在工作的车辆</h1>

                    <div></div>
                    <ul>
                        <li><a href="#">鲁BH8308</a></li>
                        <li><a href="#">鲁BH8309</a></li>
                        <li><a href="#">鲁BH8310</a></li>
                        <li><a href="#">鲁BH8311</a></li>
                    </ul>
                </div>
            </div>
            <div class="hide_details hideTemp ">
                <div class="road_details">
                    <h1>18路上设备<br>正在工作的车辆</h1>

                    <div></div>
                    <ul>
                        <li><a href="#">鲁BH8312</a></li>
                        <li><a href="#">鲁BH8313</a></li>
                        <li><a href="#">鲁BH8314</a></li>
                    </ul>
                </div>
                <div class="bus_details ">
                    <h1>18路上设备<br>正在工作的车辆</h1>

                    <div></div>
                    <ul>
                        <li><a href="#">鲁BH8315</a></li>
                        <li><a href="#">鲁BH8316</a></li>
                        <li><a href="#">鲁BH8317</a></li>
                        <li><a href="#">鲁BH8318</a></li>
                    </ul>
                </div>
            </div>
            <div class="hide_details hideTemp ">
                <div class="road_details ">
                    <h1>4路上设备<br>正在工作的车辆</h1>

                    <div></div>
                    <ul>
                        <li><a href="#">鲁BH8319</a></li>
                        <li><a href="#">鲁BH8320</a></li>
                        <li><a href="#">鲁BH8321</a></li>
                    </ul>
                </div>
                <div class="bus_details ">
                    <h1>4路上设备<br>正在工作的车辆</h1>

                    <div></div>
                    <ul>
                        <li><a href="#">鲁BH8322</a></li>
                        <li><a href="#">鲁BH8323</a></li>
                        <li><a href="#">鲁BH8324</a></li>
                        <li><a href="#">鲁BH8325</a></li>
                    </ul>
                </div>
            </div>
            <div class="hide_details hideTemp ">
                <div class="road_details">
                    <h1>26路上设备<br>正在工作的车辆</h1>

                    <div></div>
                    <ul>
                        <li><a href="#">鲁BH8326</a></li>
                        <li><a href="#">鲁BH8327</a></li>
                        <li><a href="#">鲁BH8328</a></li>
                    </ul>
                </div>
                <div class="bus_details ">
                    <h1>26路上设备<br>正在工作的车辆</h1>

                    <div></div>
                    <ul>
                        <li><a href="#">鲁BH8329</a></li>
                        <li><a href="#">鲁BH8330</a></li>
                        <li><a href="#">鲁BH8331</a></li>
                        <li><a href="#">鲁BH8332</a></li>
                    </ul>
                </div>
            </div>
            <div class="hide_details hideTemp ">
                <div class="road_details ">
                    <h1>21路上设备<br>正在工作的车辆</h1>

                    <div></div>
                    <ul>
                        <li><a href="#">鲁BH8305</a></li>
                        <li><a href="#">鲁BH8305</a></li>
                        <li><a href="#">鲁BH8305</a></li>
                    </ul>
                </div>
                <div class="bus_details ">
                    <h1>21路上设备<br>正在工作的车辆</h1>

                    <div></div>
                    <ul>
                        <li><a href="#">鲁BH8305</a></li>
                        <li><a href="#">鲁BH8305</a></li>
                        <li><a href="#">鲁BH8305</a></li>
                        <li><a href="#">鲁BH8305</a></li>
                    </ul>
                </div>
            </div>
            <div class="hide_details hideTemp ">
                <div class="road_details">
                    <h1>22路上设备<br>正在工作的车辆</h1>

                    <div></div>
                    <ul>
                        <li><a href="#">鲁BH8305</a></li>
                        <li><a href="#">鲁BH8305</a></li>
                        <li><a href="#">鲁BH8305</a></li>
                    </ul>
                </div>
                <div class="bus_details ">
                    <h1>22路上设备<br>正在工作的车辆</h1>

                    <div></div>
                    <ul>
                        <li><a href="#">鲁BH8305</a></li>
                        <li><a href="#">鲁BH8305</a></li>
                        <li><a href="#">鲁BH8305</a></li>
                        <li><a href="#">鲁BH8305</a></li>
                    </ul>
                </div>
            </div>
            <div class="hide_details hideTemp ">
                <div class="road_details">
                    <h1>23路上设备<br>正在工作的车辆</h1>

                    <div></div>
                    <ul>
                        <li><a href="#">鲁BH8305</a></li>
                        <li><a href="#">鲁BH8305</a></li>
                        <li><a href="#">鲁BH8305</a></li>
                    </ul>
                </div>
                <div class="bus_details ">
                    <h1>23路上设备<br>正在工作的车辆</h1>

                    <div></div>
                    <ul>
                        <li><a href="#">鲁BH8305</a></li>
                        <li><a href="#">鲁BH8305</a></li>
                        <li><a href="#">鲁BH8305</a></li>
                        <li><a href="#">鲁BH8305</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<script type="text/javascript" src="__PUBLIC__/js/echarts-all.js"></script>
<script type="text/javascript">

    var myChartWork = echarts.init(document.getElementById('main-work'));

    var f = '{$f}';
    var num = '{$num}';
    var optionWork;
    switch (f) {
        case 'work':
            optionWork = workOption(num);
            break;
        case 'online':
                optionWork=onlineOption(num);
            break;
        case 'flow':
                optionWork=flowOption(num);
            break;
        case 'ad':
                optionWork=adOption(num);
            break;
        default :
            break;
    }
    myChartWork.setOption(optionWork);
    
    
    function changeNum() {
    	var myChartWork = echarts.init(document.getElementById('main-work'));

        var f = '{$f}';
        var num = ((Math.random()+3)/6)*100;
        var optionWork;
        switch (f) {
            case 'work':
                optionWork = workOption(num);
                break;
            case 'online':
                    optionWork=onlineOption(num);
                break;
            case 'flow':
                    optionWork=flowOption(num);
                break;
            case 'ad':
                    optionWork=adOption(num);
                break;
            default :
                break;
        }
        myChartWork.setOption(optionWork);
    }
    
</script>