<!DOCTYPE html>
<html lang="zh-CN" ng-app="wifi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>{$title}</title>
    <link rel="stylesheet" href="__PUBLIC__/css/css.css">
    <link rel="stylesheet" href="__PUBLIC__/css/high.css">

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ABMyPFHzCuKItIEoAG2FZjtt"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.2.min.js"></script>
	<script src="//cdn.bootcss.com/angular.js/1.5.0-rc.0/angular.min.js"></script>
	<script>
        var wifiapp = angular.module('wifi', []);

        //查询线路下公交车的服务
        wifiapp.factory('Buses', function ($http, $q) {
            return {
                query: function (line_id) {
                    var config = {
                        params: {
                            'line_id': line_id
                        }
                    };
                    var defered = $q.defer();
                    $http.get("{:U('Line/get_buses')}", config).then(
                            function successCallback(response) {
                                defered.resolve(response.data);
                            },
                            function errCallback(response) {
                                defered.reject(response);
                            }
                    );
                    return defered.promise;
                }
            }
        });

        //查询所有线路的服务
        wifiapp.factory('Lines',function($http,$q){
            return {
                query: function () {
                    var config = {
                    };
                    var defered = $q.defer();
                    $http.get("{:U('Line/select')}", config).then(
                            function successCallback(response) {
                                defered.resolve(response.data);
                            },
                            function errCallback(response) {
                                defered.reject(response);
                            }
                    );
                    return defered.promise;
                }
            }
        });
    </script>
    <script type="text/javascript" src="__PUBLIC__/js/index.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/charts.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/ajax.js"></script>
</head>
<body>
	<div class="out_container_subtitle">
		<div class="container_subtitle">
			<img src="__PUBLIC__/images/index_logo.png" alt="logo">
			<ul>
				<li><img src="__PUBLIC__/images/admin.png" alt="">
					<p>
						<a href="{:U('Admin/login')}">admin</a>
					</p></li>
				<li><img src="__PUBLIC__/images/exit.png" alt="">
					<p>
						<a href="{:U('Admin/login')}">注销</a>
					</p></li>
			</ul>
			<ul>
				<li class="{$class1}"><a href="{:U('Index/index')}">总览</a></li>
				<li class="{$class2}"><a href="{:U('Analyse/index')}">广告和流量分析</a></li>
				<li class="{$class3}"><a href="{:U('Manage/line_manage')}">用户控制</a></li>
				<li class="{$class4}"><a href="{:U('Ad/index')}">广告设置</a></li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
	{__CONTENT__}
</body>
</html>