<div class="out_container_title">
    <div class="container_title">
        <div class="left">
            <ul>
                <li class="box_three"><a href="{:U('Manage/line_manage')}"></a>
                </li>
                <li class="box_four"><a
                        href="{:U('Remoteupdate/remoteupdate')}"
                        style="background: url(__PUBLIC__/images/up_up_hover.png)"></a></li>
                <li class="box_five"><a href="{:U('Others/others')}"></a></li>
            </ul>
            <div class="weather" id="weather" style="color:#ccc">

            </div>
        </div>
        
        
        <div class="userLeftBar">
            <div class="search_line_far">
                <form action="form">
                    <input type="text">
                    <input type="submit" value="搜索">
                    <div class="clr"></div>
                </form>
                <ul>
                		<volist name="line_list" id="vo" empty=" " key="k">
                    	<if condition="($k eq 1)">

                    		<li class="showTemp"
                            	onclick="get_bus_list_check('{:U('Bus/select')}',$(this).find('input').val(),'bus_list_check',$(this).index())">
                            <input type="checkbox" name="roadLine" value={$vo.id}  class="line_array">
                            <a>{$vo.name}</a></li>

						<else/>

							<li onclick="get_bus_list_check('{:U('Bus/select')}',$(this).find('input').val(),'bus_list_check',$(this).index())">
                            <input type="checkbox" name="roadLine" value={$vo.id}  class="line_array">
                            <a>{$vo.name}</a></li>

						</if>
                    </volist>
                </ul>
                <a class="checkAll">全选</a>
                <a class="checkNone">取消全选</a>

                <div class="clr"></div>
            </div>


            <div class="search_car_far">
                <form action="form">
                    <input type="text">
                    <input type="submit" value="搜索">
                    <div class="clr"></div>
                </form>

	                <ul id="bus_list_check">
                    <volist name="bus_list" id="vo" empty=" ">
                        <li>
                        <li><input class= "bus_array" type="checkbox" id={$line_list[0].id} name="car" value={$vo.id} onchange="getCheckedList(this)"> <a>{$vo.no}</a></li>
                    </volist>

                </ul>
                <a class="checkAll">全选</a>
                <a class="checkNone">取消全选</a>

                <div class="clr"></div>
            </div>

        </div>
        <div class="up_main">
            <ul>
                <!-- <li>
                    <div class="subtitle_1">
                        <p>更新设备程序</p>
                        <a href="#"></a>

                        <div class="clear"></div>
                    </div>
                    <div class="display_1">
                        <form action="form" method="get">
                            <input type="file" class="file" name="j"
                                   onchange="ye.value=value"> <input name="ye" class="ye">
                            <input type="button" class="button" value="选择文件更新"
                                   onclick=j.click()>
                        </form>
                        <div class="clear"></div>
                    </div>
                </li> -->
                <li>
                    <div class="subtitle_1">
                        <p>设置本地存储更新--电影</p>
                        <a href="#"></a>

                        <div class="clear"></div>
                    </div>


                    <ul class="movie">
                        <li><img src="__PUBLIC__/images/movie_1.png" alt="">

                            <!-- <h1>
                                <a href="">致青春</a>
                            </h1>

                            <p>阿汤哥继续玩命</p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="video1">
                                    <div>
                                        <p>电影文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value" accept="video/mp4">
                                        <input name="ye" class="ye" >
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                        <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="video1" name="position">
                                    <input type="hidden" value="2" name="type">
                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload('video1')">
                                    </div>
                                </form>

                            </div>
                        </li>
                        
                        
                        <li><img src="__PUBLIC__/images/movie_2.png" alt="">

                            <!-- <h1>
                                <a href="">致青春</a>
                            </h1>

                            <p>阿汤哥继续玩命</p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="video2">
                                    <div>
                                        <p>电影文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value" accept="video/mp4">
                                        <input name="ye" class="ye" >
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                        <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="video2" name="position">
                                    <input type="hidden" value="2" name="type">
                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload('video2')">
                                    </div>
                                </form>

                            </div>
                        </li>
                        
                        <li><img src="__PUBLIC__/images/movie_3.png" alt="">

                            <!-- <h1>
                                <a href="">致青春</a>
                            </h1>

                            <p>阿汤哥继续玩命</p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="video3">
                                    <div>
                                        <p>电影文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value" accept="video/mp4">
                                        <input name="ye" class="ye" >
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                        <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="video3" name="position">
                                    <input type="hidden" value="2" name="type">
                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload('video3')">
                                    </div>
                                </form>

                            </div>
                        </li>
                        
                        <li><img src="__PUBLIC__/images/movie_3.png" alt="">

                            <!-- <h1>
                                <a href="">致青春</a>
                            </h1>

                            <p>阿汤哥继续玩命</p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="video4">
                                    <div>
                                        <p>电影文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value" accept="video/mp4">
                                        <input name="ye" class="ye" >
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                        <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="video4" name="position">
                                    <input type="hidden" value="2" name="type">
                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload('video4')">
                                    </div>
                                </form>

                            </div>
                        </li>
                        
                        
                        <li><img src="__PUBLIC__/images/movie_3.png" alt="">

                            <!-- <h1>
                                <a href="">致青春</a>
                            </h1>

                            <p>阿汤哥继续玩命</p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="video5">
                                    <div>
                                        <p>电影文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value" accept="video/mp4">
                                        <input name="ye" class="ye" >
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                        <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="video5" name="position">
                                    <input type="hidden" value="2" name="type">
                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload('video5')">
                                    </div>
                                </form>

                            </div>
                        </li>
                        
                        
                        
                        <li><img src="__PUBLIC__/images/movie_3.png" alt="">

                            <!-- <h1>
                                <a href="">致青春</a>
                            </h1>

                            <p>阿汤哥继续玩命</p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="video6">
                                    <div>
                                        <p>电影文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value" accept="video/mp4">
                                        <input name="ye" class="ye" >
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                        <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="video6" name="position">
                                    <input type="hidden" value="2" name="type">
                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload('video6')">
                                    </div>
                                </form>

                            </div>
                        </li>
                        
                        
                        
                        
                        <li><img src="__PUBLIC__/images/movie_3.png" alt="">

                            <!-- <h1>
                                <a href="">致青春</a>
                            </h1>

                            <p>阿汤哥继续玩命</p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="video7">
                                    <div>
                                        <p>电影文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value" accept="video/mp4">
                                        <input name="ye" class="ye" >
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                        <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="video7" name="position">
                                    <input type="hidden" value="2" name="type">
                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload('video7')">
                                    </div>
                                </form>

                            </div>
                        </li>
                        
                        
                        
                        <li><img src="__PUBLIC__/images/movie_3.png" alt="">

                            <!-- <h1>
                                <a href="">致青春</a>
                            </h1>

                            <p>阿汤哥继续玩命</p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="video8">
                                    <div>
                                        <p>电影文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value" accept="video/mp4">
                                        <input name="ye" class="ye" >
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                        <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="video8" name="position">
                                    <input type="hidden" value="2" name="type">
                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload('video8')">
                                    </div>
                                </form>

                            </div>
                        </li>
                
                    
                    	<div class="clear"></div>
                    </ul>

                    <ul class="clear"></ul> 
                </li>
                <li>
                    <div class="subtitle_1">
                        <p>设置本地存储更新--电子书</p>
                        <a href="#"></a>

                        <div class="clear"></div>
                    </div>
                    <ul class="book">
                    
                        <li><img src="__PUBLIC__/images/book_1.png" alt="">

                            <!-- <p>
                                <a href="">美女的超级保镖</a>
                            </p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="book1">
                                    <div>
                                        <p>电子书文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value"accept="text/plain"> 
                                        <input name="ye" class="ye"> 
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                       <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="book1" name="position">
                                    <input type="hidden" value="3" name="type">
                                    <div class="dis_button">
                                    <input type="button" value="提交" onclick="upload('book1')">
                                    </div>
                                </form>
                            </div>
                        </li>
                        
                        <li><img src="__PUBLIC__/images/book_1.png" alt="">

                            <!-- <p>
                                <a href="">美女的超级保镖</a>
                            </p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="book2">
                                    <div>
                                        <p>电子书文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value"accept="text/plain"> 
                                        <input name="ye" class="ye"> 
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                       <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="book2" name="position">
                                    <input type="hidden" value="3" name="type">
                                    <div class="dis_button">
                                    <input type="button" value="提交" onclick="upload('book2')">
                                    </div>
                                </form>
                            </div>
                        </li>
                        
                        <li><img src="__PUBLIC__/images/book_1.png" alt="">

                            <!-- <p>
                                <a href="">美女的超级保镖</a>
                            </p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="book3">
                                    <div>
                                        <p>电子书文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value"accept="text/plain"> 
                                        <input name="ye" class="ye"> 
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                       <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="book3" name="position">
                                    <input type="hidden" value="3" name="type">
                                    <div class="dis_button">
                                    <input type="button" value="提交" onclick="upload('book3')">
                                    </div>
                                </form>
                            </div>
                        </li>
                        
                        <li><img src="__PUBLIC__/images/book_1.png" alt="">

                            <!-- <p>
                                <a href="">美女的超级保镖</a>
                            </p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="book4">
                                    <div>
                                        <p>电子书文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value"accept="text/plain"> 
                                        <input name="ye" class="ye"> 
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                       <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="book4" name="position">
                                    <input type="hidden" value="3" name="type">
                                    <div class="dis_button">
                                    <input type="button" value="提交" onclick="upload('book4')">
                                    </div>
                                </form>
                            </div>
                        </li>
                        
                        
                        
                        <div class="clear"></div>
                    </ul>
                    <ul class="clear"></ul>
                </li>
                <li>
                    <div class="subtitle_1">
                        <p>设置本地存储更新--app</p>
                        <a href="#"></a>

                        <div class="clear"></div>
                    </div>
                    
                    
                    <ul class="app">
                    
                        <li><img src="__PUBLIC__/images/app.png" alt="">

                            <!-- <h1>
                                <a href="">16wifi</a>
                            </h1> 

                            <p>11.2M</p>-->

                            <div class="dis">
                                <p>X</p>

                                <form id="app1">
                                    <div>
                                        <p>APP文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value" accept=".apk"> 
                                        <input name="ye" class="ye"> 
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                        <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="app1" name="position">
                                    <input type="hidden" value="4" name="type">
                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload('app1')">
                                    </div>
                                </form>
                            </div>
                        </li>
                        
                        <li><img src="__PUBLIC__/images/app.png" alt="">

                            <!-- <h1>
                                <a href="">16wifi</a>
                            </h1> 

                            <p>11.2M</p>-->

                            <div class="dis">
                                <p>X</p>

                                <form id="app2">
                                    <div>
                                        <p>APP文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value" accept=".apk"> 
                                        <input name="ye" class="ye"> 
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                        <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="app2" name="position">
                                    <input type="hidden" value="4" name="type">
                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload('app2')">
                                    </div>
                                </form>
                            </div>
                        </li>
                        
                        
                        <li><img src="__PUBLIC__/images/app.png" alt="">

                            <!-- <h1>
                                <a href="">16wifi</a>
                            </h1> 

                            <p>11.2M</p>-->

                            <div class="dis">
                                <p>X</p>

                                <form id="app3">
                                    <div>
                                        <p>APP文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value" accept=".apk"> 
                                        <input name="ye" class="ye"> 
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                        <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="app3" name="position">
                                    <input type="hidden" value="4" name="type">
                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload('app3')">
                                    </div>
                                </form>
                            </div>
                        </li>
                        
                        
                        
                        <div class="clear"></div>
                    </ul>
                    <ul class="clear"></ul>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<script type="text/javascript">

var checkedIdList=new Array();//选中的bus列表
var checkedLineArr= new Array();
var selected=0;
/**
 * 创建全局变量
 */
$(function() {
	var lineList = $(".line_array");
	for(var i=0;i<lineList.length;i++){
		checkedLineArr[i]=lineList[i].checked;
	}
})

/**
     * 将数组转化为字符串,用下划线分隔
     * @param arr 要转化的数组
     */
    function arr_to_str(arr) {
        var str = '';
        for (var i = 0; i < arr.length; i++) {
            if (i > 0) {
                str += '_';
            }
            str+=arr[i];
        }
        return str;
    } 

function upload(position) {
	var busArr = new Array();
	for (var i = 0; i < checkedIdList.length; i++) {
		if (checkedIdList[i].isChecked)
			busArr[i] = checkedIdList[i].id;
	}
	if (busArr.length > 0) {
	    var ids = arr_to_str(busArr);
		var form = $("#" + position)[0];
	    var formData = new FormData(form);
	    formData.append('ids', ids);
		
	    $.ajax({
	        url: "{:U('Media/upload')}",
	        type: 'POST',
	        cache: false,
	        data: formData,
	        processData: false,
	        contentType: false
	    }).done(function (res) {
	        $(".dis").slideUp();
	        getDisplay();
	    }).fail(function (res) {
	        alert(res);
	    });
	}else{
		alert("没有选中车辆!");
	}
	
        
    }
    
/**
 * 获取选中check列表的展示信息
 */
function getDisplay() {
	
}
</script>
