<div class="out_container_title">
    <div class="container_title">
        <div class="left">
            <ul>
                <li class="box_three"><a href="{:U('Manage/line_manage')}"></a>
                </li>
                <li class="box_four"><a
                        href="{:U('Remoteupdate/remoteupdate')}"
                        style="background: url(__PUBLIC__/images/up_up_hover.png)"></a></li>
                <li class="box_five"><a href="{:U('Others/others')}"></a></li>
            </ul>
            <div class="weather" id="weather" style="color:#ccc">

            </div>
        </div>
        
        
        <div class="userLeftBar">
            <div class="search_line_far">
                    <input type="text">
                    <input type="submit" value="搜索">
                    <div class="clr"></div>
                <ul>
                		<volist name="line_list" id="vo" empty=" " key="k">
                    	<if condition="($k eq 1)">

                    		<li class="showTemp"
                            	onclick="get_bus_list_check('{:U('Bus/select')}',$(this).find('input').val(),'bus_list_check',$(this).index())">
                            <input type="checkbox" name="roadLine" value={$vo.id}  class="line_array">
                            <a>{$vo.name}</a></li>

						<else/>

							<li onclick="get_bus_list_check('{:U('Bus/select')}',$(this).find('input').val(),'bus_list_check',$(this).index())">
                            <input type="checkbox" name="roadLine" value={$vo.id}  class="line_array">
                            <a>{$vo.name}</a></li>

						</if>
                    </volist>
                </ul>
                <a class="checkAll">全选</a>
                <a class="checkNone">取消全选</a>

                <div class="clr"></div>
            </div>


            <div class="search_car_far">
                    <input type="text">
                    <input type="submit" value="搜索">
                    <div class="clr"></div>

	                <ul id="bus_list_check">
                    <volist name="bus_list" id="vo" empty=" ">
                        <li>
                        <li><input class= "bus_array" type="checkbox" id={$line_list[0].id} name="car" value={$vo.id} onchange="getCheckedList(this)"> <a>{$vo.no}</a></li>
                    </volist>

                </ul>
                <a class="checkAll">全选</a>
                <a class="checkNone">取消全选</a>

                <div class="clr"></div>
            </div>

        </div>
        <div class="up_main">
            <ul>
                <!-- <li>
                    <div class="subtitle_1">
                        <p>更新设备程序</p>
                        <a href="#"></a>

                        <div class="clear"></div>
                    </div>
                    <div class="display_1">
                        <form action="form" method="get">
                            <input type="file" class="file" name="j"
                                   onchange="ye.value=value"> <input name="ye" class="ye">
                            <input type="button" class="button" value="选择文件更新"
                                   onclick=j.click()>
                        </form>
                        <div class="clear"></div>
                    </div>
                </li> -->
                <li>
                    <div class="subtitle_1">
                        <p>设置本地存储更新--电影</p>
                        <a href="#"></a>

                        <div class="clear"></div>
                    </div>


                    <ul class="movie">
                        <li><img src="__PUBLIC__/images/movie_2.png" alt="" class="video1">

                            <!-- <h1>
                                <a href="">致青春</a>
                            </h1>

                            <p>阿汤哥继续玩命</p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="video1">
                                    <div>
                                        <p>电影文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value" accept="video/mp4">
                                        <input name="ye" class="ye" >
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                        <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="video1" name="position">
                                    <input type="hidden" value="2" name="type">
                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload($(this).parent().parent().find('input'),'video1')">
                                    </div>
                                </form>

                            </div>
                        </li>
                        
                        
                        <li><img src="__PUBLIC__/images/movie_2.png" alt="" class="video2">

                            <!-- <h1>
                                <a href="">致青春</a>
                            </h1>

                            <p>阿汤哥继续玩命</p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="video2">
                                    <div>
                                        <p>电影文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value" accept="video/mp4">
                                        <input name="ye" class="ye" >
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                        <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="video2" name="position">
                                    <input type="hidden" value="2" name="type">
                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload($(this).parent().parent().find('input'),'video2')">
                                    </div>
                                </form>

                            </div>
                        </li>
                        
                        <li><img src="__PUBLIC__/images/movie_2.png" alt="" class="video3">

                            <!-- <h1>
                                <a href="">致青春</a>
                            </h1>

                            <p>阿汤哥继续玩命</p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="video3">
                                    <div>
                                        <p>电影文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value" accept="video/mp4">
                                        <input name="ye" class="ye" >
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                        <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="video3" name="position">
                                    <input type="hidden" value="2" name="type">
                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload($(this).parent().parent().find('input'),'video3')">
                                    </div>
                                </form>

                            </div>
                        </li>
                        
                        <li><img src="__PUBLIC__/images/movie_2.png" alt="" class="video4">

                            <!-- <h1>
                                <a href="">致青春</a>
                            </h1>

                            <p>阿汤哥继续玩命</p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="video4">
                                    <div>
                                        <p>电影文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value" accept="video/mp4">
                                        <input name="ye" class="ye" >
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                        <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="video4" name="position">
                                    <input type="hidden" value="2" name="type">
                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload($(this).parent().parent().find('input'),'video4')">
                                    </div>
                                </form>

                            </div>
                        </li>
                        
                        
                        <li><img src="__PUBLIC__/images/movie_2.png" alt="" class="video5">

                            <!-- <h1>
                                <a href="">致青春</a>
                            </h1>

                            <p>阿汤哥继续玩命</p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="video5">
                                    <div>
                                        <p>电影文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value" accept="video/mp4">
                                        <input name="ye" class="ye" >
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                        <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="video5" name="position">
                                    <input type="hidden" value="2" name="type">
                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload($(this).parent().parent().find('input'),'video5')">
                                    </div>
                                </form>

                            </div>
                        </li>
                        
                        
                        
                        <li><img src="__PUBLIC__/images/movie_2.png" alt="" class="video6">

                            <!-- <h1>
                                <a href="">致青春</a>
                            </h1>

                            <p>阿汤哥继续玩命</p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="video6">
                                    <div>
                                        <p>电影文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value" accept="video/mp4">
                                        <input name="ye" class="ye" >
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                        <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="video6" name="position">
                                    <input type="hidden" value="2" name="type">
                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload($(this).parent().parent().find('input'),'video6')">
                                    </div>
                                </form>

                            </div>
                        </li>
                        
                        
                        
                        
                        <li><img src="__PUBLIC__/images/movie_2.png" alt="" class="video7">

                            <!-- <h1>
                                <a href="">致青春</a>
                            </h1>

                            <p>阿汤哥继续玩命</p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="video7">
                                    <div>
                                        <p>电影文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value" accept="video/mp4">
                                        <input name="ye" class="ye" >
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                        <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="video7" name="position">
                                    <input type="hidden" value="2" name="type">
                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload($(this).parent().parent().find('input'),'video7')">
                                    </div>
                                </form>

                            </div>
                        </li>
                        
                        
                        
                        <li><img src="__PUBLIC__/images/movie_2.png" alt="" class="video8">

                            <!-- <h1>
                                <a href="">致青春</a>
                            </h1>

                            <p>阿汤哥继续玩命</p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="video8">
                                    <div>
                                        <p>电影文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value" accept="video/mp4">
                                        <input name="ye" class="ye" >
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                        <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="video8" name="position">
                                    <input type="hidden" value="2" name="type">
                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload($(this).parent().parent().find('input'),'video8')">
                                    </div>
                                </form>

                            </div>
                        </li>
                
                    
                    	<div class="clear"></div>
                    </ul>

                    <ul class="clear"></ul> 
                </li>
                <li>
                    <div class="subtitle_1">
                        <p>设置本地存储更新--电子书</p>
                        <a href="#"></a>

                        <div class="clear"></div>
                    </div>
                    <ul class="book">
                    
                        <li><img src="__PUBLIC__/images/book_1.png" alt="" class="book1">

                            <!-- <p>
                                <a href="">美女的超级保镖</a>
                            </p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="book1">
                                    <div>
                                        <p>电子书文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value"accept="text/plain"> 
                                        <input name="ye" class="ye"> 
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                       <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="book1" name="position">
                                    <input type="hidden" value="3" name="type">
                                    <div class="dis_button">
                                    <input type="button" value="提交" onclick="upload($(this).parent().parent().find('input'),'book1')">
                                    </div>
                                </form>
                            </div>
                        </li>
                        
                        <li><img src="__PUBLIC__/images/book_1.png" alt="" class="book2">

                            <!-- <p>
                                <a href="">美女的超级保镖</a>
                            </p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="book2">
                                    <div>
                                        <p>电子书文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value"accept="text/plain"> 
                                        <input name="ye" class="ye"> 
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                       <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="book2" name="position">
                                    <input type="hidden" value="3" name="type">
                                    <div class="dis_button">
                                    <input type="button" value="提交" onclick="upload($(this).parent().parent().find('input'),'book2')">
                                    </div>
                                </form>
                            </div>
                        </li>
                        
                        <li><img src="__PUBLIC__/images/book_1.png" alt="" class="book3">

                            <!-- <p>
                                <a href="">美女的超级保镖</a>
                            </p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="book3">
                                    <div>
                                        <p>电子书文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value"accept="text/plain"> 
                                        <input name="ye" class="ye"> 
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                       <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="book3" name="position">
                                    <input type="hidden" value="3" name="type">
                                    <div class="dis_button">
                                    <input type="button" value="提交" onclick="upload($(this).parent().parent().find('input'),'book3')">
                                    </div>
                                </form>
                            </div>
                        </li>
                        
                        <li><img src="__PUBLIC__/images/book_1.png" alt="" class="book4">

                            <!-- <p>
                                <a href="">美女的超级保镖</a>
                            </p> -->

                            <div class="dis">
                                <p>X</p>

                                <form id="book4">
                                    <div>
                                        <p>电子书文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value"accept="text/plain"> 
                                        <input name="ye" class="ye"> 
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                       <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="book4" name="position">
                                    <input type="hidden" value="3" name="type">
                                    <div class="dis_button">
                                    <input type="button" value="提交" onclick="upload($(this).parent().parent().find('input'),'book4')">
                                    </div>
                                </form>
                            </div>
                        </li>
                        
                        
                        
                        <div class="clear"></div>
                    </ul>
                    <ul class="clear"></ul>
                </li>
                <li>
                    <div class="subtitle_1">
                        <p>设置本地存储更新--app</p>
                        <a href="#"></a>

                        <div class="clear"></div>
                    </div>
                    
                    
                    <ul class="app">
                    
                        <li><img src="__PUBLIC__/images/app.png" alt="" class="app1">

                            <!-- <h1>
                                <a href="">16wifi</a>
                            </h1> 

                            <p>11.2M</p>-->

                            <div class="dis">
                                <p>X</p>

                                <form id="app1">
                                    <div>
                                        <p>APP文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value" accept=".apk"> 
                                        <input name="ye" class="ye"> 
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                        <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="app1" name="position">
                                    <input type="hidden" value="4" name="type">
                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload($(this).parent().parent().find('input'),'app1')">
                                    </div>
                                </form>
                            </div>
                        </li>
                        
                        <li><img src="__PUBLIC__/images/app.png" alt="" class="app2">

                            <!-- <h1>
                                <a href="">16wifi</a>
                            </h1> 

                            <p>11.2M</p>-->

                            <div class="dis">
                                <p>X</p>

                                <form id="app2">
                                    <div>
                                        <p>APP文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value" accept=".apk"> 
                                        <input name="ye" class="ye"> 
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                        <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="app2" name="position">
                                    <input type="hidden" value="4" name="type">
                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload($(this).parent().parent().find('input'),'app2')">
                                    </div>
                                </form>
                            </div>
                        </li>
                        
                        
                        <li><img src="__PUBLIC__/images/app.png" alt="" class="app3">

                            <!-- <h1>
                                <a href="">16wifi</a>
                            </h1> 

                            <p>11.2M</p>-->

                            <div class="dis">
                                <p>X</p>

                                <form id="app3">
                                    <div>
                                        <p>APP文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value" accept=".apk"> 
                                        <input name="ye" class="ye"> 
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                        <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="app3" name="position">
                                    <input type="hidden" value="4" name="type">
                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload($(this).parent().parent().find('input'),'app3')">
                                    </div>
                                </form>
                            </div>
                        </li>
                        
                        <li><img src="__PUBLIC__/images/app.png" alt="" class="app4">

                            <!-- <h1>
                                <a href="">16wifi</a>
                            </h1> 

                            <p>11.2M</p>-->

                            <div class="dis">
                                <p>X</p>

                                <form id="app4">
                                    <div>
                                        <p>APP文件：</p>
                                        <input type="file" class="file" name="file" onchange="ye.value=value" accept=".apk"> 
                                        <input name="ye" class="ye"> 
                                        <input type="button" value="打开" class="button" onclick=file.click()>
                                    </div>
                                    <div>
                                        <p>图片简介：</p>
                                        <input type="file" class="file" name="img" onchange="ye1.value=value" accept="image/jpeg"> 
                                        <input name="ye1" class="ye1"> 
                                        <input type="button" value="打开" class="button" onclick=img.click()>
                                    </div>
                                    <div>
                                        <p>文字简介：</p>
                                        <input type="text" name="text"> <br>
                                    </div>
                                    <input type="hidden" value="app4" name="position">
                                    <input type="hidden" value="4" name="type">
                                    <div class="dis_button">
                                        <input type="button" value="提交" onclick="upload($(this).parent().parent().find('input'),'app4')">
                                    </div>
                                </form>
                            </div>
                        </li>
                        
                        
                        
                        <div class="clear"></div>
                    </ul>
                    <ul class="clear"></ul>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<script type="text/javascript">

var checkedIdList=new Array();//选中的bus列表
var checkedLineArr= new Array();
var selected=0;
/**
 * 创建全局变量
 */
$(function() {
	var lineList = $(".line_array");
	for(var i=0;i<lineList.length;i++){
		checkedLineArr[i]=lineList[i].checked;
	}
})

/**
     * 将数组转化为字符串,用下划线分隔
     * @param arr 要转化的数组
     */
    function arr_to_str(arr) {
        var str = '';
        for (var i = 0; i < arr.length; i++) {
            if (i > 0) {
                str += '_';
            }
            str+=arr[i];
        }
        return str;
    } 

function upload(input,position) {
    var busArr = new Array();
    for (var i = 0; i < checkedIdList.length; i++) {
        if (checkedIdList[i].isChecked)
            busArr[i] = checkedIdList[i].id;
    }

    var type=input[0].accept;
        if(input[1].value=="")
            alert("上传文件不能为空！");
        else if(input[4].value=="")
            alert("图片简介不能为空！");
        else if(input[6].value=="")
            alert("文字简介不能为空！");
        else{
            var alerted=false;
            if(type=="video/mp4"){
                if(!validateFile(input[1].value,"mp4")){
                    alert("电影文件格式只能为mp4！");
                    return;
                }
            }else if(type=="text/plain"){
                if(!validateFile(input[1].value,"txt")){
                    alert("电子书文件格式只能为txt！");
                    return;
                }
            }else if(type==".apk"){
                if(!validateFile(input[1].value,"apk")){
                    alert("APP文件格式只能为apk！");
                    return;
                }
            }
            if(!validateFile(input[4].value,"jpg")){
                alert("图片简介文件格式只能为jpg！");
                return;
            }

            var ids = arr_to_str(busArr);
            var form = $("#" + position)[0];
            var formData = new FormData(form);
            formData.append('ids', ids);

            $.ajax({
                url: "{:U('Media/upload')}",
                type: 'POST',
                cache: false,
                data: formData,
                processData: false,
                contentType: false
            }).done(function (res) {
                $(".dis").slideUp();
                getDisplay();
            }).fail(function (res) {
                alert(res);
            });
        }
    }

/**
 * 文件后缀验证
 */
function validateFile(sourceStr,type){
    var FileListType=type;
    var destStr = sourceStr.substring(sourceStr.lastIndexOf(".")+1,sourceStr.length)
    if(FileListType.indexOf(destStr) == -1){
        return false;
    }
    return true;
}
    
/**
 * 获取选中check列表的展示信息
 */

 function getDisplay() {
 	var busArr = new Array();
 	for (var i = 0; i < checkedIdList.length; i++) {
 		if (checkedIdList[i].isChecked)
 			busArr[i] = checkedIdList[i].id;
 	}
 	if (busArr.length > 0) {
 		$.post('get_media_info', {
 			ids : busArr,
 		}, function(data, status) {
 			if (status == 4 || status == "success") {
 				var device_info = eval(data);
 				if(device_info.video1!=null)
 					$('img.video1').attr('src',device_info.video1.img);
 				else
 					$('img.video1').attr('src','__PUBLIC__/images/movie_2.png');
 				if(device_info.video2!=null)
 					$('img.video2').attr('src',device_info.video2.img);
 				else
 					$('img.video2').attr('src','__PUBLIC__/images/movie_2.png');
 				if(device_info.video3!=null)
 					$('img.video3').attr('src',device_info.video3.img);
 				else
 					$('img.video3').attr('src','__PUBLIC__/images/movie_2.png');
 				if(device_info.video4!=null)
 					$('img.video4').attr('src',device_info.video4.img);
 				else
 					$('img.video4').attr('src','__PUBLIC__/images/movie_2.png');
 				if(device_info.video5!=null)
 					$('img.video5').attr('src',device_info.video5.img);
 				else
 					$('img.video5').attr('src','__PUBLIC__/images/movie_2.png');
 				if(device_info.video6!=null)
 					$('img.video6').attr('src',device_info.video6.img);
 				else
 					$('img.video6').attr('src','__PUBLIC__/images/movie_2.png');
 				if(device_info.video7!=null)
 					$('img.video7').attr('src',device_info.video7.img);
 				else
 					$('img.video7').attr('src','__PUBLIC__/images/movie_2.png');
 				if(device_info.video8!=null)
 					$('img.video8').attr('src',device_info.video8.img);
 				else
 					$('img.video8').attr('src','__PUBLIC__/images/movie_2.png');
 				
 				
 				
 				if(device_info.book1!=null)
 					$('img.book1').attr('src',device_info.book1.img);
 				else
 					$('img.book1').attr('src','__PUBLIC__/images/book_1.png');
 				if(device_info.book2!=null)
 					$('img.book2').attr('src',device_info.book2.img);
 				else
 					$('img.book2').attr('src','__PUBLIC__/images/book_1.png');
 				if(device_info.book3!=null)
 					$('img.book3').attr('src',device_info.book3.img);
 				else
 					$('img.book3').attr('src','__PUBLIC__/images/book_1.png');
 				if(device_info.book4!=null)
 					$('img.book4').attr('src',device_info.book4.img);
 				else
 					$('img.book4').attr('src','__PUBLIC__/images/book_1.png');
 				
 				
 				if(device_info.app1!=null)
 					$('img.app1').attr('src',device_info.app1.img);
 				else
 					$('img.app1').attr('src','__PUBLIC__/images/app.png');
 				if(device_info.app2!=null)
 					$('img.app2').attr('src',device_info.app2.img);
 				else
 					$('img.app2').attr('src','__PUBLIC__/images/app.png');
 				if(device_info.app3!=null)
 					$('img.app3').attr('src',device_info.app3.img);
 				else
 					$('img.app3').attr('src','__PUBLIC__/images/app.png');
 				if(device_info.app4!=null)
 					$('img.app4').attr('src',device_info.app4.img);
 				else
 					$('img.app4').attr('src','__PUBLIC__/images/app.png');
 				
 			}
 		});
 	}else{
				$('img.video1').attr('src','__PUBLIC__/images/movie_2.png');
				$('img.video2').attr('src','__PUBLIC__/images/movie_2.png');
				$('img.video3').attr('src','__PUBLIC__/images/movie_2.png');
				$('img.video4').attr('src','__PUBLIC__/images/movie_2.png');
				$('img.video5').attr('src','__PUBLIC__/images/movie_2.png');
				$('img.video6').attr('src','__PUBLIC__/images/movie_2.png');
				$('img.video7').attr('src','__PUBLIC__/images/movie_2.png');
				$('img.video8').attr('src','__PUBLIC__/images/movie_2.png');
				
				$('img.book1').attr('src','__PUBLIC__/images/book_1.png');
				$('img.book2').attr('src','__PUBLIC__/images/book_1.png');
				$('img.book3').attr('src','__PUBLIC__/images/book_1.png');
				$('img.book4').attr('src','__PUBLIC__/images/book_1.png');
				
				$('img.app1').attr('src','__PUBLIC__/images/app.png');
				$('img.app2').attr('src','__PUBLIC__/images/app.png');
				$('img.app3').attr('src','__PUBLIC__/images/app.png');
				$('img.app4').attr('src','__PUBLIC__/images/app.png');
 	}
 }

</script>
