{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <h3 class="text-muted">{$mac}</h3>
    </div>

    <div class="row marketing">
        <div class="col-lg-7">
            <h4>心跳日志</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>经度</td>
                    <td>纬度</td>
                    <td>在线人数</td>
                    <td>磁盘使用率</td>
                    <td>流量</td>
                    <td>命令号</td>
                    <td>额外参数</td>
                    <td>时间</td>
                    <td>heartbeat版本号</td>
                </tr>
                </thead>
                <tbody>
                <volist name="LogResult" id="vo">
                    <tr>
                        <td>{$vo.lon}</td>
                        <td>{$vo.lat}</td>
                        <td>{$vo.online_num}</td>
                        <td>{$vo.usage}%</td>
                        <td>{$vo.flow_num}k</td>
                        <td>{$vo.cmd}</td>
                        <td>{$vo.arg}</td>
                        <td>{$vo.time|date="Y-m-d H:i:s",###}</td>
                        <td>{$vo.heartbeat}</td>
                    </tr>
                </volist>
                </tbody>
            </table>

        </div>

        <div class="col-lg-5">
            <h4>wifidog认证日志</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>用户mac</td>
                    <td>时间</td>
                    <td>是否回头</td>
                    <td>设备mac</td>
                </tr>
                </thead>
                <tbody>
                <volist name="WifidogLogResult" id="vo">
                    <tr>
                        <td>{$vo.mac}</td>
                        <td>{$vo.time|date="Y-m-d H:i:s",###}</td>
                        <td>{$vo.is_back}</td>
                        <td>{$vo.device_mac}</td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
    </div>

    <footer class="footer">
        <p>© Company 2016</p>
    </footer>

</div>
</body>
</html>