{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="cache-control" content="300">
    <title>上网认证</title>
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/css/swiper.min.css">
    <script src="__PUBLIC__/js/jquery-1.11.2.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div class="head"><img src="__PUBLIC__/images/header.jpg" alt=""></div>
    <div class="swiper-container logo">
        <div class="swiper-wrapper">
            <div class="swiper-slide pic1"></div>
            <div class="swiper-slide pic2"></div>
            <div class="swiper-slide pic3"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <p class="tips"><strong>公告</strong>：<br><br>欢迎使用黄岛真情巴士的免费上网服务，您可以通过点击“开始上网”按键享受黄岛公交提供的真情服务。</p>
    <div class="click-container">
        <!--<a class="clickMe" href="{$url}">开始上网</a>-->
        <a href="#myModal" data-toggle="modal" class="clickMe">开始上网</a>
    </div>
    <footer>
        <p>版权: 青岛真情巴士集团有限公司</p>
        <p>青岛智能产业技术研究院</p>
    </footer>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    手机号登录认证
                </h4>
            </div>
            <div class="modal-body">
                <form id="form" class="form-horizontal" role="form" method="get" action="__MODULE__/User/login">
                    <input id="gw_address" type="hidden" name="gw_address" value="{$gw_address}">
                    <input id="gw_port" type="hidden" name="gw_port" value="{$gw_port}">
                    <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label">手机号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="phone"
                                   placeholder="请输入手机号" name="phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-primary" onclick="get_code()">点击获取验证码</button>
                        </div>
                        <!-- Alert -->
                        <div id="success" class="alert alert-success hidden">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>验证码发送成功</strong>
                        </div>
                        <div id="failed" class="alert alert-success hidden">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>手机号不可为空</strong>
                        </div>
                        <!-- /Alert -->
                    </div>
                    <div class="form-group">
                        <label for="code" class="col-sm-2 control-label">验证码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="code"
                                   placeholder="请输入验证码" name="code">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="login()">
                    我要上网
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>
<!-- /.modal -->


<script src="__PUBLIC__/js/swiper.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: 5000,
        pagination: '.swiper-pagination'
    })

    function get_code() {
        var phone = $("#phone").val();
        $.get('__CONTROLLER__/get_code', {phone: phone}, function (data) {
            console.log(data)
            if (data) {
                $("#success").removeClass("hidden")
            } else {
                $("#failed").removeClass("hidden")
            }
        })
    }

    function login() {
        $("#form").submit();
    }
</script>
</body>

</html>